@charset "utf-8";

// =============================================================================
// アーカイブのソートナビ
// =============================================================================

.p-sortnav{
	max-width: 740px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto 50px;

	@include  small {
		display: block;
		text-align: center;
	}

	&__select {
		width: 100%;
		max-width: 200px;
		border-radius: 40px;
		margin: 5px;
	}

	&__btn {
		width: 100%;
		max-width: 300px;
		margin: 5px;
	}
}
