@charset "utf-8";
// =============================================================================
// alignの値まとめ
// =============================================================================

.u-align--center{ text-align:center; }
.u-align--right{ text-align:right; }
.u-align--left{ text-align:left; }
.u-align--top{ vertical-align:top; }
.u-align--middle{ vertical-align:middle; }
.u-align--bottom{ vertical-align:bottom; }