@charset "utf-8";
// =============================================================================
// positionの値まとめ
// =============================================================================

.u-float--clear{clear:both;}
.u-float--left{float:left;}
.u-float--right{float:right;}