@charset "utf-8";
// =============================================================================
// marginの値まとめ
// =============================================================================

//ボトム
.u-mb0{margin-bottom:0px;}
.u-mb5{margin-bottom:5px;}
.u-mb10{margin-bottom:10px;}
.u-mb15{margin-bottom:15px;}
.u-mb20{margin-bottom:20px;}
.u-mb25{margin-bottom:25px;}
.u-mb30{margin-bottom:30px;}
.u-mb35{margin-bottom:35px;}
.u-mb40{margin-bottom:40px;}
.u-mb45{margin-bottom:45px;}
.u-mb50{margin-bottom:50px;}
.u-mb55{margin-bottom:55px;}
.u-mb60{margin-bottom:60px;}
.u-mb65{margin-bottom:65px;}
.u-mb70{margin-bottom:70px;}
.u-mb75{margin-bottom:75px;}
.u-mb80{margin-bottom:80px;}
//トップ
.u-mt0{margin-top:0px;}
.u-mt5{margin-top:5px;}
.u-mt10{margin-top:10px;}
.u-mt15{margin-top:15px;}
.u-mt20{margin-top:20px;}
.u-mt25{margin-top:25px;}
.u-mt30{margin-top:30px;}
.u-mt35{margin-top:35px;}
.u-mt40{margin-top:40px;}
.u-mt45{margin-top:45px;}
.u-mt50{margin-top:50px;}
.u-mt55{margin-top:55px;}
.u-mt60{margin-top:60px;}
.u-mt65{margin-top:65px;}
.u-mt70{margin-top:70px;}
.u-mt75{margin-top:75px;}
.u-mt80{margin-top:80px;}
//ライト
.u-mr0{margin-right:0px;}
.u-mr5{margin-right:5px;}
.u-mr10{margin-right:10px;}
.u-mr15{margin-right:15px;}
.u-mr20{margin-right:20px;}
.u-mr25{margin-right:25px;}
.u-mr30{margin-right:30px;}
.u-mr35{margin-right:35px;}
.u-mr40{margin-right:40px;}
.u-mr45{margin-right:45px;}
.u-mr50{margin-right:50px;}
.u-mr55{margin-right:55px;}
.u-mr60{margin-right:60px;}
.u-mr65{margin-right:65px;}
.u-mr70{margin-right:70px;}
.u-mr75{margin-right:75px;}
.u-mr80{margin-right:80px;}
//レフト
.u-ml0{margin-left:0px;}
.u-ml5{margin-left:5px;}
.u-ml10{margin-left:10px;}
.u-ml15{margin-left:15px;}
.u-ml20{margin-left:20px;}
.u-ml25{margin-left:25px;}
.u-ml30{margin-left:30px;}
.u-ml35{margin-left:35px;}
.u-ml40{margin-left:40px;}
.u-ml45{margin-left:45px;}
.u-ml50{margin-left:50px;}
.u-ml55{margin-left:55px;}
.u-ml60{margin-left:60px;}
.u-ml65{margin-left:65px;}
.u-ml70{margin-left:70px;}
.u-ml75{margin-left:75px;}
.u-ml80{margin-left:80px;}