@charset "utf-8";
// =============================================================================
// paddingの値まとめ
// =============================================================================

//ボトム
.u-pb0{padding-bottom:0px;}
.u-pb5{padding-bottom:5px;}
.u-pb10{padding-bottom:10px;}
.u-pb15{padding-bottom:15px;}
.u-pb20{padding-bottom:20px;}
.u-pb25{padding-bottom:25px;}
.u-pb30{padding-bottom:30px;}
.u-pb35{padding-bottom:35px;}
.u-pb40{padding-bottom:40px;}
.u-pb45{padding-bottom:45px;}
.u-pb50{padding-bottom:50px;}
.u-pb55{padding-bottom:55px;}
.u-pb60{padding-bottom:60px;}
.u-pb65{padding-bottom:65px;}
.u-pb70{padding-bottom:70px;}
.u-pb75{padding-bottom:75px;}
.u-pb80{padding-bottom:80px;}
//トップ
.u-pt0{padding-top:0px;}
.u-pt5{padding-top:5px;}
.u-pt10{padding-top:10px;}
.u-pt15{padding-top:15px;}
.u-pt20{padding-top:20px;}
.u-pt25{padding-top:25px;}
.u-pt30{padding-top:30px;}
.u-pt35{padding-top:35px;}
.u-pt40{padding-top:40px;}
.u-pt45{padding-top:45px;}
.u-pt50{padding-top:50px;}
.u-pt55{padding-top:55px;}
.u-pt60{padding-top:60px;}
.u-pt65{padding-top:65px;}
.u-pt70{padding-top:70px;}
.u-pt75{padding-top:75px;}
.u-pt80{padding-top:80px;}
//ライト
.u-pr0{padding-right:0px;}
.u-pr5{padding-right:5px;}
.u-pr10{padding-right:10px;}
.u-pr15{padding-right:15px;}
.u-pr20{padding-right:20px;}
.u-pr25{padding-right:25px;}
.u-pr30{padding-right:30px;}
.u-pr35{padding-right:35px;}
.u-pr40{padding-right:40px;}
.u-pr45{padding-right:45px;}
.u-pr50{padding-right:50px;}
.u-pr55{padding-right:55px;}
.u-pr60{padding-right:60px;}
.u-pr65{padding-right:65px;}
.u-pr70{padding-right:70px;}
.u-pr75{padding-right:75px;}
.u-pr80{padding-right:80px;}
//レフト
.u-pl0{padding-left:0px;}
.u-pl5{padding-left:5px;}
.u-pl10{padding-left:10px;}
.u-pl15{padding-left:15px;}
.u-pl20{padding-left:20px;}
.u-pl25{padding-left:25px;}
.u-pl30{padding-left:30px;}
.u-pl35{padding-left:35px;}
.u-pl40{padding-left:40px;}
.u-pl45{padding-left:45px;}
.u-pl50{padding-left:50px;}
.u-pl55{padding-left:55px;}
.u-pl60{padding-left:60px;}
.u-pl65{padding-left:65px;}
.u-pl70{padding-left:70px;}
.u-pl75{padding-left:75px;}
.u-pl80{padding-left:80px;}