@charset "utf-8";

// =============================================================================
// フッターに適用するスタイル
// =============================================================================
.l-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding : 10px;
    text-align: right;

    &__copyright {
        @include font-size(1,1);
        color: #444;
    }

}