@charset "utf-8";
// =============================================================================
// ボタン
// =============================================================================

//左から下線が伸びるボタン
.c-btn-underline-from-left {
    color: rgba(0,0,0,1);
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 1px;
        background-color: rgba(0,0,0,1);
        @include transition;
    }
    &::before {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba(200,200,200,1);
        @include transition;
    }

    &:hover {
        &::after {
            width: 100%;
        }
    }
}

//中央から下線が伸びるボタン
.c-btn-underline-from-center {
    color: rgba(0,0,0,1);
    position: relative;

    &:after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 50%;
        width: 0;
        height: 1px;
        transform: translate(-50%,0);
        background-color: rgba(0,0,0,1);
        @include transition;
    }

    &:hover {
        &:after {
            width: 100%;
        }
    }
}

//ページのTOPへボタン
.c-btn-gotop {
    width: 50px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    //transform: translate(-50%,0);
    z-index: 99;
    color: rgba(255, 255, 255, 1);
    background-color: $color-gray;
    @include font-size(1.4, 1);
    cursor: pointer;
    border-radius: 30px;

    &:hover {
        opacity: .8;
    }

    span {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*@include small {
        bottom: 0px;
        right: 0px;
        border-radius: 0px;
    }*/
}

//グレーラインスクエアボタン　インライン
.c-btn-inline-bkline {
    color: rgba(0,0,0, 1);
    text-align: center;
    padding: 5px 10px;
    display: inline-block;
    position: relative;
    z-index: 0;
    background-color: rgba(255,255,255,1);
    border: solid 1px $color-lightgray;
    overflow: hidden;

    >i {
        margin-right: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(255,255,255, 1);
        @include transition;
    }

    &:hover {
        background-color: $color-lightgray;
        border: solid 1px $color-lightgray;

        &::before {
            height: 0;
        }
    }

    &:visited {
        color: $color-gray;
    }
}

//グレーラインスクエアボタン　ブロック
.c-btn-squre-block-bkline {
    color: rgba(0,0,0,1);
    text-align: center;
    padding: 15px 20px;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 540px;
    position: relative;
    z-index: 0;
    background-color: rgba(255,255,255,1);
    border: solid 1px $color-lightgray;

    >i {
        margin-right: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $color-lightgray;
        opacity: 0;
        @include transition;
    }

    &:hover {
        background-color: $color-lightgray;
        border: solid 1px $color-lightgray;

        &::before {
            height: 0;
        }
    }

    &:visited {
        color: $color-gray;
    }
}

//黒スクエアボタン　ブロック
.c-btn-squre-block-bk {
    color: rgba(255,255,255, 1);
    text-align: center;
    padding: 15px 20px;
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 540px;
    position: relative;
    z-index: 0;
    background-color: $color-gray;

    >i {
        margin-right: 3px;
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $color-gray;
        opacity: 0;
        @include transition;
    }

    &:hover {
        color: rgba(255,255,255,1) !important;
        background-color: $color-middlegray;

        &::before {
            opacity: 1;
        }
    }

    &:visited {
        color: rgba(255,255,255, 1);
    }
}


//トグルボタン（グレー→ライトグレー）
.c-btn-toggle-bk {
    color: rgba(255,255,255, 1);
    text-align: center;
    padding: 10px 20px;
    display: block;
    position: relative;
    z-index: 0;
    background-color: $color-gray;

    >span {
        position: absolute;
        top: 50%;
        right: 15px;
        transform: translate(0,-50%);
        display: block;
        @include transition;

        &.is-active {
            transform: translate(0,-50%) rotate(180deg);
        }
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background-color: $color-gray;
        @include transition;
    }

    &:hover {
        color: rgba(0, 0, 0, 1) !important;
        background-color: $color-lightgray;

        &::before {
            width: 0;
        }
    }

}


//フォーム戻るボタン
.c-btn-back {
    @include font-size(1.3,1);
    color: rgba(0,0,0, 1);
    text-align: center;
    padding: 10px 10px 10px 20px;
    margin-bottom: 20px;
    display: inline-block;
    position: relative;
    z-index: 0;
    background-color: rgba(255,255,255,1);
    border: solid 1px $color-lightgray;
    overflow: hidden;

    &::after { //アイコン
        font-family: "Font Awesome 5 Free";
        content: '\f053';
        font-weight: 900;
        position: absolute;
        top: 50%;
        left: 7px;
        transform: translate(0,-50%);
    }

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        background-color: rgba(255,255,255, 1);
        @include transition;
    }

    &:hover {
        background-color: $color-lightgray;
        border: solid 1px $color-lightgray;

        &::before {
            height: 0;
        }
    }

    &:visited {
        color: $color-gray;
    }
}

//フォームsubmitボタン
.c-btn-submit[type="submit"] {
    @include font-size();
    color: rgba(255, 255, 255, 1) !important;
    text-align: center;
    letter-spacing: 0.1em;
    width: 100%;
    max-width: 540px;
    height: 60px;
    margin:0 auto;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    z-index:0;
    background-color: $color-gray;

    &:hover {
        opacity: .8;
        background-color: $color-gray;
    }
}






